#wrapper{
    width: fit-content;
    min-height: fit-content;
    background-color: khaki;
    margin: 0px auto;
    padding: 20px;
}
#header{
    height: 100px;
    width: 1000px;
}
#main_content{
    height: fit-content;
    width: 1200px;
}
.subcontent_vertical{
    height: 1200px;
    width: 200px;
}
.blue_box{
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
    border: 2px black solid;
}
.red_box{
    height: 200px;
    width: 200px;
    background-color: salmon;
    border: 2px black solid;
}